$main-color: #DEDEDE;
$main-color-2: #D0D0D0;
$light-text: #484848;

@mixin svg {width: 30px;height: 30px;}
@mixin for_display-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin for_flex($f_grow, $f_shrink, $f_basis){
    -webkit-box-flex: $f_grow;
    -ms-flex: $f_grow $f_shrink $f_basis;
        flex: $f_grow $f_shrink $f_basis;
}
@mixin for_align_items($value){
    -webkit-box-align: $value;
        -ms-flex-align: $value;
            align-items: $value;
}
@mixin vertical-centering{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
@mixin options{position: absolute;top: 35%;}
@mixin cart-form{
    padding: 1px;
    font-size: 23px;
    border-radius: 5px;
}
@mixin for_flex_direction($row_or_column){
    @if ($row_or_column == column){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    @else{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
@mixin for_grid{
    display: -ms-grid;
    display: grid;
}
@mixin for_box_shadow($X, $Y, $R, $color){
    -webkit-box-shadow: $X $Y $R $color;
    box-shadow: $X $Y $R $color;
}
@mixin for_transition($t_p, $t-d, $t-t-f, $t-delay){
    -webkit-transition: $t_p $t-d $t-t-f $t-delay;
    -o-transition: $t_p $t-d $t-t-f $t-delay;
    transition: $t_p $t-d $t-t-f $t-delay;
}
@mixin for_box_sizing($value){
    -webkit-box-sizing: $value;
    box-sizing: $value;
}
@mixin for_cards{
    figure{
        @include for_box_shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
        background: white;
        border-radius: 20px;
    }
    figcaption{
        height: 16.5%;
        margin-top: 5%;
        text-align: center;
        font-weight: 400;
        font-size: 20px;}
    img{
        display: block;
        height: 75%;
        margin: auto;}
}
*{margin: 0;padding: 0;}

a{
    color: black;
    text-decoration: none;
}
a:visited{color: black;}

.right_now{border-bottom: 2px solid black;}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: $main-color;
}

::-webkit-scrollbar {
    background: $main-color;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 8px;
}
.flex_for_base{
    @include for_display-flex;
    @include for_flex_direction(column);
    height: 100%;
}

.grid_for_catalog{
    @include for_grid;
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(475px, auto);
    padding-top: 2%;
    max-width: 92%;
    margin: 0 auto;
}

header{
    @include for_flex(0, 0, auto);
    height: 95px;
    position: relative;
    z-index: 5;
    background: $main-color-2;
    input[type="checkbox"]{
        display: none;
    }
   .burger-menu {
       @include options;
       right: 30px;
       display: none;
    }
    .backet-menu {
       @include options;
       right: 60px;
    }
   .search-menu {
       @include options;
       right: 90px;
   }
   svg{@include svg;}
   nav{
       font-size: 25px;
       padding-left: 25%;
       margin-top: 32px;
       display: block;
       li{
           display: inline-block;
           margin-right: 30px;
           font-size: 23px;
       }
       a{display: inline-block;}
       .content li{
           display: block;
           margin-top: 29px;
       }
   }
}


.content{
    @include for_display-flex;
    @include vertical-centering;
    @include for_flex_direction(row);
}
.row{margin: 10px 20px 10px 20px;}

.catalog_preview{
    position: absolute;
    left: 0;
    margin-top: 1.45%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    font-size: 27px;
}
.catalog_preview .content{
    @include for_box_shadow(0, 6px, 10px, rgba(0,0,0,0.15));
    background: white;
    padding: 0 100px 25px 100px;
}
.catalog{height: 65px;}

nav li:hover .catalog_preview{
  @include for_transition(all, 0.4s, ease, unset);
  top: 70%;
  width: 100%;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.options{
    position: absolute;
    right: 8%;
    top: 35%;
}
.logo{
    position: absolute;
    left: 4%;
    top: 42%;
    width: 136px;
    height: 24px;
}


main{
    @include for_flex(1, 0, auto);
    padding: 2%;
}

.info{
    width: 92%;
    margin: 0 auto;
    font-weight: 600;
    h1{
        margin-bottom: 10px;
        font-weight: 500;
    }
    h2{
        margin-bottom: 28px;
        margin-top: 38px;
        font-weight: 500;
    }
    p{
        font-size: 23px;
        font-weight: 400;
    }
    .conclusion{
        font-weight: bold;
        margin-top: 38px;
    }
}

h1{
    text-align: center;
    font-weight: normal;
}
.empty-cart{
    p{
        text-align: center;
        margin-top: 5%;
        a{
            display: block;
            margin-top: 5%;
            font-weight: bold;}
    }
}
.cart{
    @include for_align_items(center);
    @include for_display-flex;
    height: 100%;
    width: 100%;
    section{
        background-color: white;
        margin: auto;
        border-radius: 10px;}
    img{width: 15vw;}
    button{margin: auto;}
    .first-col, .second-col{
        display: inline-block;
        width: 30%;}
    form{
        input[type=text]{border-radius: 4px;}
        padding: 5%;
        margin: auto;
        width: 275px;
        .for-bottom{
            text-align: center;
            padding: 2%;}
    }
    table{
        @include for_box_sizing(content-box);
        text-align: center;
        font-size: 15px;
        border-bottom: 1px solid black;
        margin: auto;
        th{
            border-bottom: 1px solid black;
            font-weight: normal;
            min-width: 150px;
            margin: 0;
        }
        .quantity{min-width: 5px;}
        .remove{min-width: 20px;}
        td{border-radius: 4px;}
        svg{
            height: 20px;
            width: 20px;
        }
    }
}

nav.inside{
    background: $main-color-2;
    font-size: 23px;
    padding: 0 10% 0 10%;
    ul{
        list-style-type: none;
        li{margin-top: 36px;}
    }
}
.content-inside{
    @include vertical-centering;
    @include for_grid;
    padding: 6px 0 6px 0;
    grid-template-columns: repeat(auto-fill, 250px);
    background: $main-color-2;
    margin-left: 5%;
}
.item-inside{
    @include for_box_shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
    @include for_cards;
    background: white;
    max-height: 200px;
    border-radius: 20px;
    margin: 5%;
}

.item-inside:hover{
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
}
footer{@include for_flex(0, 0, auto);}
.media{
    width: 290px;
    margin: 2% auto;
    font-size: 23px;
    text-align: center;
    color: $light-text;
    svg{
        fill: $light-text;
        @include svg;
    }
}

.product-a{
    padding: 1%;
    font-size: 25px;
    h2{
        text-align: center;
        font-weight: normal;
        font-size: 30px;}
    .add_to_cart{
        padding-top: 5%;
        text-align: center;}
    form{
        text-align: center;
        input{@include cart-form;}
        select{@include cart-form;}
    }
}

.index {
    max-width: 92%;
    margin: auto;
    .video{
        margin: 5% auto;
        max-width: 50%;
        position: relative;
        padding: 0 10px 28.5% 0;
        overflow: hidden;
        iframe{
            -o-object-fit: cover;
               object-fit: cover;
            @include for_display-flex;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: none;
            z-index: 0;}
    }
    h2{text-align: center;}
    .little-cards{
        @include for_display-flex;
        @include for_flex_direction(row);
        @include vertical-centering;
        @include for_align_items(center);
        @include for_cards;
            .little-card{
                @include for_box_shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
                height: 200px;
                width: 200px;
                margin: 2.5%;
            }
        }
}
.little-card:hover{
    -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
            transform: scale(1.075);
}

.product{
    @include for_display-flex;
    @include for_flex_direction(row);
    @include for_align_items(center);
    height: 100%;
    font-size: 25px;
    margin: 0 auto;
    width: 92%;
    .attribute_list{
        width: auto;
        padding: 2%;
        background-color: #fff;
        border: 3px dashed black;}
    .description{margin-bottom: 5%;}
    figure{
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    img{width: 45vw;}
    ul{list-style-type: none;}
    tr{text-align: start;}
}
header {
    .d6 input {
        @include for_transition(all, 1s, cubic-bezier(0, 0.8, 0, 1), unset);
        @include for_box_sizing(border-box);
        height: 30px;
        width: 0;
        border: none;
        outline: none;
        background: transparent;
        position: absolute;
        right: 90px;
        top: 35%;
        z-index: 2;
        border-radius: 12px;
        form label {
            position: absolute;
            top: 35%;
            right: 30px;
            z-index: 6;
            display: none;
        }
    }
    .d6 input:focus {
        width: 20%;
        background: white;
        z-index: 1;
        padding-left: 1.5%;
    }
    input[type="checkbox"] {display: none;}
    .d6 .search-button {display: none;}
}
@media screen and (max-width: 1150px){
    header{
        .d6 input {
            height: 100%;
            right: 0;
            top: 0;}
      form {height: 100%; }
      .d6 input:focus {
          width: 100%;
          font-size: 25px;
          border-radius: 0;
          z-index: 2;
          padding: 0 75px 0 25px; }
      .d6 button {display: none; }
        form label {
          position: absolute;
          top: 35%;
          right: 30px;
          z-index: 6;
          display: none; }
        }
    }

@media screen and (max-width: 980px){
    header {
        .burger-menu{display: inline-block;}
        nav{
            top: -5%;
            background: $main-color-2;
            display: none;
            line-height: 45px;
            padding: 8.5%;
            ul{margin-top: 5%;}
            li{
            display: block;
            margin-right: 0;
            font-size: 23px;}
        }
    }
    #burger:checked ~ label .burger-menu {
            -webkit-transform:  rotate(90deg);
                -ms-transform:  rotate(90deg);
                    transform:  rotate(90deg);
            z-index: 2;
        }
    input:focus ~ label{
        display: block;
        cursor: pointer;
    }
    header #burger:checked ~ nav {
            @include for_box_shadow(0, 1px, 1px, rgba(50, 50, 50, 0.75));
            @include for_display-flex;
            @include vertical-centering;
            left: 0;
            z-index: 3;
            text-align: center;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;
            .catalog_preview{display: none;}
            .catalog{height: auto;}
        }
    .grid_for_catalog{
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        max-width: 92%;
        margin: 0 auto;
        padding-top:  5%;
        .inside{
            display: block;
            padding: 0;
            ul{
                text-align: center;
                width: auto;
                padding: 2.5%;
                li{
                    display: inline-block;
                    margin: 0.5%;
                }
            }
        }
        .content-inside{margin: 2.5% 0 0 0;}
    }
    .grid_for_catalog > *:nth-child(1){-ms-grid-row: 1;-ms-grid-column: 1}
    .product{
        @include for_flex_direction(column);
        padding: 10%;
        height: auto;
        width: auto;
    }
    .index {.video {padding: 0 35% 48% 0;} }
    .little-cards  .last-card{display: none;}
}

@media screen and (max-width: 690px){
    .logo{left: 30px;}
        .index{
            padding-top: 7%;
            position: relative;
            .video{padding: 0 35% 48% 0;}
            .little-cards{@include for_flex_direction(column);}
        }
    .cart{
        margin-top: 5%;
        display: block;
        img{width: 15vw;}
        table{
            font-size: 13px;
            th{min-width: 45px;}
        }
    }
}