{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Info{% endblock title %}
{% block info-menu%}right_now{% endblock info-menu%}
{% block main %}
    <article class="info">
        <h1>О сервисе </h1>

        <h2>Приветствуем вас в интернет-магазине Samsung-Store!</h2>

        <h2>Официальный реселлер</h2>
        <p>Samsung-store является официальным магазином техники Samsung и других брендов. В нашем магазине представлена только оригинальная и имеющая все необходимые сертификаты техника. Мы работаем с первыми импортерами в Республике Беларусь, постоянно расширяем ассортимент товаров для того, чтобы вы смогли выбрать подходящее для вас устройство.</p>

        <h2>Официальная гарантия</h2>
        <p>Мы работаем только с авторизованными сервисными центрами производителей. Это отражается на высокой скорости обработки ваших заявок, а также на качестве выполненных работ.</p>

        <h2>Быстрая доставка </h2>
        <p>Все товары находятся на нашем собственном складе, благодаря этому отсутствует задержка на транспортировку со склада поставщика и товар вы получаете в максимально короткие сроки.</p>

        <h2>Наша цель – счастливый покупатель!</h2>
        <p>Наши специалисты постоянно совершенствуют свои знания, а любовь и интерес к технике позволяет дать персонализированную и подробную консультацию в выборе устройства под ваши потребности.  С помощью индивидуального подхода и профессионализма мы всегда стараемся оставить приятное впечатление от взаимодействия с нашим магазином. Наш послепродажный сервис также окажет содействие и помощь в решении разного рода вопросов.</p>

        <p class="conclusion">
            Ждем встречи,<br>
            Samsung-store
        </p>
    </article>
{% endblock main %}
