{% extends 'layout/base.html' %}
{% load l10n %}
{% load static %}
{% block title %}{{ product.name }}{% endblock title %}
{% block catalog-menu%}right_now{% endblock catalog-menu%}
{% block main %}
  <article class="product-a">
    <h2>{{ product.name }}</h2>
    <div class="product">
      <figure>
        <img src="{{ product.image.url }}" alt="">
      </figure>
      <div>
        <h2>Описание:</h2>
          <div class="description">
            {{ product.description }}
          </div>
          <h2>Характеристики:</h2>
          <div class="attribute_list">
            {{ product.attribute_list|linebreaksbr }}
          </div>
        </div>
    </div>
     <p class="add_to_cart">Добавить в корзину</p>
      <form action="{% url 'cart:cart_add' product.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="BYN {{ product.price }}">
      </form>
  </article>
{% endblock main %}
