<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/css.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="flex_for_base">
    <header>
      <a href="{% url 'store:index' %}">
        <svg class="logo">
          <use xlink:href="{% static 'store/svg/sprites.svg' %}#logo"></use>
        </svg>
      </a>
      <div class="options">
        <svg>
          <use xlink:href="{% static 'store/svg/sprites.svg' %}#search"></use>
        </svg>
        <svg>
          <use xlink:href="{% static 'store/svg/sprites.svg' %}#backet"></use>
        </svg>
        <input type="checkbox" id="burger">
        <label for="burger">
          <svg class="burger-menu">
            <use xlink:href="{% static 'store/svg/sprites.svg' %}#burger"></use>
          </svg>
        </label>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'store:index' %}" class="{% block main-menu%}{% endblock main-menu%} ">Главная</a></li>
          <li class="catalog"><a
            href="{% url 'store:catalog' 1 %}"
            class="{% block catalog-menu%}{% endblock catalog-menu%}">Каталог
          </a>
            <div class="catalog_preview">
              <div class="content">
                {% for category, products in products_preview.items  %}
                  <div class="row">
                    <h5><a href="{% url 'store:catalog' category.pk %}">{{ category }}</a></h5>
                    <ul>
                      {% for product in products %}
                            <li><a href="{% url 'store:product' product.pk %}">{{ product.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            </div>
          </li>
          <li><a href="{% url 'store:info' %}" class="{% block info-menu%}{% endblock info-menu%}">О сервисе</a></li>
          <li><a href="" class="{% block pay-menu%}{% endblock pay-menu%}">Оплата</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      <div class="media">
        <a href="https://www.youtube.com/c/SamsungBelarusChannel" title="youtube">
          <svg>
            <use xlink:href="{% static 'store/svg/sprites.svg' %}#youtube"></use>
          </svg>
        </a>
        <a href="https://www.facebook.com/samsungbelarus" title="facebook">
          <svg>
            <use xlink:href="{% static 'store/svg/sprites.svg' %}#facebook"></use>
          </svg>
        </a>
        <a href="https://www.instagram.com/samsungbelarus/" title="instagram">
          <svg>
            <use xlink:href="{% static 'store/svg/sprites.svg' %}#instagram"></use>
          </svg>
        </a>
        <p>@ 2022  All Rights Reserved</p>
      </div>
    </footer>
</body>
</html>